@font-face {
  font-family: "Courgette";
  src: url("../fonts/Courgette-Regular.ttf");
}
/* line 1, ../../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../sass/partials/_layout.scss */
body, html {
  min-height: 100%;
  width: 100%;
}

/* line 2, ../../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../../sass/partials/_modules.scss */
.bg-contact-short {
  background-attachment: scroll;
  background-image: url(../img/contact_short.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 5, ../../sass/partials/_modules.scss */
.bg-experience-short {
  background-attachment: scroll;
  background-image: url(../img/experience_short.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 8, ../../sass/partials/_modules.scss */
.bg-explore {
  background-attachment: scroll;
  background-image: url(../img/explore.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 11, ../../sass/partials/_modules.scss */
.bg-footer {
  background-attachment: scroll;
  background-image: url(../img/footer.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 14, ../../sass/partials/_modules.scss */
.bg-form {
  background-attachment: scroll;
  background-image: url(../img/form.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 17, ../../sass/partials/_modules.scss */
.bg-hike {
  background-attachment: scroll;
  background-image: url(../img/hike/hike_bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 21, ../../sass/partials/_modules.scss */
.bg-home {
  background-attachment: scroll;
  background-image: url(../img/home.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 22, ../../sass/partials/_modules.scss */
.bg-home-cover {
  background-attachment: scroll;
  background-image: url(../img/home/home_cover.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 28, ../../sass/partials/_modules.scss */
.bg-light-brw {
  background-color: #837870 !important;
}
/* line 31, ../../sass/partials/_modules.scss */
.bg-orange {
  color: #ffa536 !important;
}
/* line 34, ../../sass/partials/_modules.scss */
.bg-orange-light {
  color: #fbb56f !important;
}
/* line 37, ../../sass/partials/_modules.scss */
.bg-review {
  background-attachment: scroll;
  background-image: url(../img/review.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 42, ../../sass/partials/_modules.scss */
.bg-services-desc {
  background-attachment: scroll;
  background-image: url(../img/services/services_desc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 45, ../../sass/partials/_modules.scss */
.bg-services-ext {
  background-attachment: scroll;
  background-image: url(../img/services/services_ext.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 51, ../../sass/partials/_modules.scss */
.border-light-brw {
  border-color: #837870 !important;
}
/* line 54, ../../sass/partials/_modules.scss */
.border-orange {
  border-color: #ffa536 !important;
}
/* line 57, ../../sass/partials/_modules.scss */
.border-orange-light {
  border-color: #fbb56f !important;
}

/* line 62, ../../sass/partials/_modules.scss */
.login-form, .register-form {
  background-attachment: fixed;
  background-image: url(../img/login.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 67, ../../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 70, ../../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 80, ../../sass/partials/_modules.scss */
.text-light-brw {
  color: #837870 !important;
}
/* line 83, ../../sass/partials/_modules.scss */
.text-orange {
  color: #ffa536 !important;
}
/* line 86, ../../sass/partials/_modules.scss */
.text-orange-light {
  color: #fbb56f !important;
}

/* line 90, ../../sass/partials/_modules.scss */
h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: "Courgette";
  letter-spacing: 1px;
}

/* line 94, ../../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 100, ../../sass/partials/_modules.scss */
  .bg-md-white {
    background-color: #fff !important;
  }

  /* line 105, ../../sass/partials/_modules.scss */
  .border-md-light-brw {
    border-color: #837870 !important;
  }
}
/* line 31, ../../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 2, ../../sass/partials/_modules_init.scss */
.comingsoon-s1, .error-s1, .privacy-s1 {
  min-height: calc( 100vh - 0px );
  min-height: -o-calc( 100vh - 0px );
  min-height: -moz-calc( 100vh - 0px );
  min-height: -webkit-calc( 100vh - 0px );
}

/* line 6, ../../sass/partials/_modules_init.scss */
.box-shadow {
  box-shadow: 2px 2px 5px #333 !important;
}

/* line 21, ../../sass/partials/_modules_init.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 26, ../../sass/partials/_modules_init.scss */
.privacy-container {
  background-color: #333 !important;
  opacity: 0.8;
}

/* line 35, ../../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 4px #000;
}

/* line 41, ../../sass/partials/_modules_init.scss */
.z-index-0 {
  z-index: 0;
}
/* line 44, ../../sass/partials/_modules_init.scss */
.z-index-10 {
  z-index: 10;
}
/* line 47, ../../sass/partials/_modules_init.scss */
.z-index-100 {
  z-index: 100;
}
