$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-short-img: "../img/contact_short.jpg";
$bg__error-img: $bg__comingsoon-img;
$bg__experience-short-img: "../img/experience_short.jpg";
$bg__explore-img: "../img/explore.jpg";
$bg__footer-img: "../img/footer.jpg";
$bg__form-img: "../img/form.jpg";
$bg__hike-img: "../img/hike/hike_bg.png";
$bg__home-img: "../img/home.jpg";
$bg__home-cover-img: "../img/home/home_cover.png";
$bg__login-img: "../img/login.jpg";
$bg__privacy-img: $bg__comingsoon-img;
$bg__review-img: "../img/review.png";
$bg__services-desc-img: "../img/services/services_desc.jpg";
$bg__services-ext-img: "../img/services/services_ext.jpg";
$bg__classes:
    "error",
    "comingsoon",
    "privacy";
$bg__aoa:
    $bg__error-img,
    $bg__comingsoon-img,
    $bg__privacy-img;
$box__shadow: 2px 2px 5px #333;
$color__container-bg: #333;
$color__light-brw: #837870;
$color__orange: #ffa536;
$color__orange-light: #fbb56f;
$color__shadow: #000;
$header__height: 0px;
$section__min-height: 100vh;
$text__shadow: 1px 1px 4px $color__shadow;
